<div class="modal-header">
    <h5 class="modal-title text-center">Modal title xxxxxxxxxx</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>modale works!aaa</p>
    {{name}}
    <label>
        Titolo:
        <input [ngModel]="formval.Titolo" (ngModelChange)="formval.Titolo = $event">
        <!-- input type="text" [formControl]="nomeValore" (change)="onChange()" [value]="name.title" -->
    </label>
    <label>
        Autore:
        <input [ngModel]="formval.Autore" (ngModelChange)="formval.Autore = $event">
        <!-- input type="text" [formControl]="nomeValore" (change)="onChange()" [value]="name.title" -->
    </label>
    <label>
        Descrizione
        <textarea [ngModel]="formval.Desc" (ngModelChange)="formval.Desc = $event"></textarea><br />
    </label>


    <button type="button" class="btn btn-default btn-link" (click)="setData()">Salva</button>
</div>
<div class="modal-footer">
    <div class="left-side">
        <button type="button" class="btn btn-default btn-link" (click)="activeModal.close('Close click')">Never mind</button>
    </div>
    <div class="divider"></div>
    <div class="right-side">
        <button type="button" class="btn btn-danger btn-link" (click)="activeModal.close('Close click')">DELETE</button>
    </div>
</div>
