<div class="row row-grid">
    <div class="col-lg-4" *ngFor="let l of libri">
        <div class="card card-lift--hover shadow border-0">
            <img [src]="l.Img">
            <div class="card-body py-5">
                <h6 class="text-primary text-uppercase">{{l.Titolo}}</h6>
                <p class="description mt-3">{{l.Desc}}</p>
                <div>

                </div>
                <a href="javascript:void(0)" class="btn btn-primary mt-4">Vai</a>

                ###<app-modal-component [modale]="modale" [valore]="l" (xclick)="onSalva($event)"></app-modal-component>###
            </div>
        </div>
    </div>
</div>

